@use './variables';

.burger {
    display: none;
    margin-right: 50px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: variables.$ColorMain;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-10px, -7px);
}


.burgerNav {
    position: absolute;
    width: 100%;
    background-color: variables.$colorNav;

    .searchbar {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

        ::placeholder {
            color: black;
    
        }

        .burgerInput {
            border: none;
            width: 60%;
            outline: none;
            padding-left: 15px;
        }

        .searchbtnBurger {
            background-color: variables.$ColorMain;
            padding: 5px 15px;

            p {
                color: white;
            }
        }

        .searchbtnBurger:hover {
            cursor: pointer;
        }
    }

    nav {
        

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            color: white;

            li {
                margin: 20px 0;
            }
            
            #active {
                border-bottom: variables.$ColorMain 2px solid;
            }
        }
    }
}



@media (max-width: 768px) {

    .burger {
        display: block;
    }

    .searchNav {
        display: none;
    }
}