@use './variables';

.cartCont {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 50px;
    background-color: variables.$colorFeatured;
    color: white;

    h2 {
        text-align: center;
        padding: 50px;
    }

    .card {
        display: flex;
        width: 100%;
        color: white;
        justify-content: space-evenly;
        padding: 20px;
        
        .prodImg {
            width: 25%;

            img {
                width: 100%;
            }
        }

        .titleDesc {
            width: 50%;
        }
        

        h4 {
            padding: 10px 0 5px 0;
            font-size: 18px;
        }

        .stars {
            padding-bottom: 10px;
        }

        p {
            font-size: 25px;
            padding-bottom: 20px;
        }
    }
}

.cartHead {
    margin: 50px 50px 0 50px;
    background-color: variables.$colorFeatured;
    color: white;
    text-align: center;
}